.wrapper
  padding-top: 75px
.btn
  border-radius: 0
  font-family: "Open Sans"
  float:none
.desc-box
  background-color: rgba(255, 255, 255, 0.72);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.73);
.desc-box h4
  padding: 3px
.desc-box .page-header
  margin: 0
  margin-top: 10px
  margin-bottom: 15px
.desc-box p
  color: black
  font-family: "Open Sans"
