.loginButtonContainer
  position fixed
  top 14px
  right 5px
  width 120px
  height 60px
  color grey
  z-index: 5000
.loginButtonContainer .navbar-right:last-child
  margin-right: 0
.loginButtonContainer a
  color black
.loginButtonContainer .dropdown-toggle
  color grey
