.findDialog .connectBtn
  width: 100%;
.findDialog
  width: 500px
  height: 200px
  margin: 0 auto
  margin-top: 40px
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.27);
  background: #FDFDFD 
  padding: 20px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
.findDialog .dTitle
  font-weight: bold
  text-align: center
  width: 100%
  font-size: 25px;
.findDialogLarger
  height: 270px
.loadingBarContainer
  margin-top: 10px

.progress
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
.collapsed
  height: 1px
