<template name="about">
<div class="container wrapper">
  <div class="row-fluid">
    <div class="findDialog col-sm-8 center-block" style="float:none">
      <div class="dTitle">D2Solo - 1v1 Matchmaking Service</div>
      <hr>
      <div class="loadingBarContainer">
        <p>
        This site was created by <a href="http://steamcommunity.com/id/kidovate">ＱUΛИТUM</a> and inspired by <a href="http://chaqdota.wordpress.com/2013/09/05/chaqs-ultimate-guide-to-advanced-solo-middle/">Chaq's Guide</a> to advanced solo middle. It is meant to be a low-stress platform for practicing solo middle tactics against others in the same MMR.
        </p>
        <p>
        <a href="http://www.reddit.com/r/DotA2/comments/24h1t7/new_service_dota_2_solo_1v1_matchmaking/">Reddit Comments</a><br>
        </p>
      </div>
    </div>
  </div>
</div>
</template>
