
<template name="pageBack">
<div id="pageBack" style="background: url('{{this}}') no-repeat"></div>
</template>

<template name="home">
{{>pageBack 'https://s3-us-west-2.amazonaws.com/d2solo/home.jpg'}}
<div class="container titleContainer">
  <div class="row-fluid">
    <div class="span12">
      <div class="description-texts">
        <h1 class="site-slogan"><span>DOTA 2 1v1 MATCHMAKING</span></h1>

        <p class="app-description">
        <span>Practice solo mid tactics against real opponents.</span><br>
        <span>Play with players at the same skill level.</span><br>
        <span>{{>lobbyCount}} games set up since the service began.</span><br>
        <span>{{>usercount}} users playing 1v1 games.</span><br>
        </p>
        <a class="btn btn-success" href="{{pathFor 'matchmaking'}}">Start Playing!</a>
      </div>
    </div>
  </div>
</div>
</template>
