<template name="leaderboard">
<div class="container wrapper">
  <div class="row-fluid">
    <div class="findDialog col-sm-8 center-block" style="float:none">
      <div class="dTitle">No Leaderboards Yet</div>
      <hr>
      <div class="loadingBarContainer">
        <p>
        Currently leaderboards are not possible, as Valve does not allow external services to access private match results. We can only see results from public matchmaking and leagues.
        </p>
        <p>
        You can see Dota 2 MMR leaderboards over at <a href="http://dota2toplist.com/">Dota 2 Top List</a>.
        </p>
      </div>
    </div>
  </div>
</div>
</template>
