<template name="matchmaking">
{{>pageBack 'https://s3-us-west-2.amazonaws.com/d2solo/io.jpg'}}

<div class="container wrapper">
  <div class="row-fluid">
    <div class="span12">
      <div class="description-texts">
        <h1 class="site-slogan"><span style="line-height:0">Find a Match</span></h1>
      </div>
    </div>
  </div>
  {{#if currentUser.queue}}
  <div class="row-fluid" style="padding-left:2%;padding-right:2%">
    <div class="findDialog col-sm-8 center-block {{dialogClass}}" style="float:none;">
      <div class="dTitle">{{status}}</div>
      <div class="loadingBarContainer">
        <div class="progress {{progBarClass}}">
          <div class="progress-bar progress-bar-{{servProgColor}}" role="progressbar" style="width:{{progress}}%;padding-top:25px">
          </div>
        </div>
        {{#unless currentUser.queue.matchFound}}
        <b>Total:</b> {{queueCount}}{{#each queueMetrics}} <b>{{name}}</b>: {{count}}{{/each}}<br>
        Your search range is currently <b>{{searchRange}}</b> MMR.<br/>
        <button class="stopQueue btn btn-danger center-block" style="margin-top:5px">Stop Queuing</button>
        {{else}}
        <div style="position:absolute;float:none;left:50%;font-weight:bold;top:45%;left:48%">VS.</div>
        {{>userCard currentUser._id}}
        {{>userCard currentUser.queue.matchUser}}
        {{#if currentUser.queue.hasStarted}}
        <div style="font-weight:bold;text-align:center;margin-top:170px" class="center-block">Lobby ready, host click Start Game! <button class="closeMatch btn btn-info">Close</button></div>
        {{else}}
        {{#if lobbyPass}}
        <div style="font-weight: bold;text-align:center;margin-top:170px" class="center-block">Lobby is ready, password "{{lobbyPass}}" <i class="fa fa-clipboard" style="color:green;padding-left:5px;font-size:1.3em"></i></div>
        {{else}}
        {{#if currentUser.queue.hasAccepted}}
        <div style="text-align:center;margin-top:170px" class="center-block">You have accepted, please wait...</div>
        {{else}}
        <div class="center-block" style="width: 155px;padding-top:150px">
          <button class="acceptMatch btn btn-success">Accept</button>
          <button class="rejectMatch btn btn-danger">Decline</button>
        </div>
        {{/if}}
        {{/if}}
        {{/if}}
        {{/unless}}
      </div>
    </div>
  </div>
  {{else}}
  <div class="row-fluid" style="padding-left:2%;padding-right:2%">
    <div class="col-sm-4 desc-box">
      <h4 class="page-header">Queuing</h4>
      <p>
      SteamTracks is responsible for updating your solo rating and needs to be linked to D2Solo to queue in matchmaking. You must have your 10 solo calibration games played and NOT have a private profile to start playing on D2Solo. SteamTracks updates every 24 hours.
      </p>
      {{#if currentUser}}
      <p>
      {{#if currentUser.steamtracks.authorized}}
      {{#if publicProfile}}
      {{#with currentUser.steamtracks.info.dota2}}
      {{#unless soloCompetitiveRank}}
      You do not have your solo ranked MMR yet. Please play your calibration matches and get your MMR ranking. Please note that SteamTracks updates every 24 hours.
      {{else}}
      You have linked SteamTracks, your current solo MMR (used on D2Solo) is <b>{{currentUser.steamtracks.info.dota2.soloCompetitiveRank}}</b>.
      {{/unless}}
      {{/with}}
      {{else}}
      Your Dota2 profile is private. Please make it public and wait for SteamTracks to update (24 hours).<br>
      {{/if}}
      {{else}}
      You have not linked SteamTracks yet. <a href={{steamTracks}} id="startSTracksAuth" target="_blank" class="btn btn-success">Link SteamTracks</a>
      {{/if}}
      {{#if currentUser.queueP}}
      <p>
      You are prevented from matchmaking until {{preventTime}}.
      </p>
      {{/if}}
      </p>
      <p>
      {{>regionSel}}
      </p>
      {{else}}
      <p>
      You need to sign in before you can begin queuing.
      </p>
      {{/if}}
    </div>
    <div class="col-sm-2 center-block" style="float:none;text-align:center">
      <a class="btn btn-success" id="startQueuing" style="font-size:18px">Start Queuing</a>
    </div>
    <div class="col-sm-4 desc-box" style="float:right;position:relative;top:-34px">
      <h4 class="page-header">Joining the Match</h4>
      <p>
      Once your matchup is found, you will be asked to accept. After accepting, a bot will create an ingame lobby for you with a generated password phrase. You can then join the lobby by going to Play - Find Lobby - Private Lobbies - and enter the password to find the lobby.
      </p>
      <p>
      You can also add the bot as a friend to see the lobby in your friends' lobbies list.
      </p>
    </div>
  </div>
  {{/if}}
</div>
</template>
<template name="regionSel">
<select id="regionsel" class="form-control">
  {{#each region}}
  <option value={{id}}>{{name}}</option>
  {{/each}}
</select>
</template>
